body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background: #eee;
}
.btn{
	border-radius: 0;
}
.wrapper{
	width: 1000px;
	margin: auto;
}
a:hover, a:active, a:visited{
	outline: none;
	text-decoration: none;
}
#branding{
	width: 100%;
	height: 70px;
	top: 0;
	background: #fff;
	position: fixed;
	border-bottom: 1px #ddd solid;
	z-index: 90;
}
.logo{
	width: auto;
	height:60px;
	float: left;
	margin-top: 5px;
}
.logo img{
	height: 100%;
	width: auto;
}
#header1{
	position: fixed;
	top: 50px;
	width: 100%;
	height: 50px;
	background: none;
	margin: 0;
	color: #fff;
	padding: 0;
	z-index: 100;
}
#header1.active{
	z-index: 150;
}
#header2{
	position: absolute;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	width: 75%;
	height: 50px;
	background: none;
	margin: 0;
	color: #fff;
	padding: 0;
	z-index: 80;
}
.menu-group{
	z-index: 20;
	position: relative;
	font-size: 14px;
	padding: 15.5px 0;
}
ul.menu-contain{
	padding: 0;
	margin: 0;
}
#header2 ul.menu-contain{
	padding: 0;
	margin: 15px 0 0 0;
	position: absolute;
	float: left;
	z-index: 10;
}
ul.menu-contain li{
	list-style: none;
	display: inline-block;
	float: left;
	position: static;
	width: auto;
	margin: 0;
	padding: 0;
	text-align: center;
}
ul.menu-contain li a.active{
	background: #CCC;
	color: #333;
}
ul.menu-contain li a.active:hover{
	background: #CCC !important;
	color: #333 !important;
}
ul.menu-contain li a{
	color: #FFF;
	font-size: 14px;
	background: none;
	text-decoration: none;
	padding: 16px;
	width: 100px;
}
/*Level*/
.level{
	display: block;
	visibility: hidden;
}
.level li{
	list-style: none;
	padding: 10px 15px;
	width: 250px;
}
.level li:hover{
	background: #BBB;
}
.level li:after{
	content: "";

}
.level-2,.level-3{
	position: absolute;
	display: block;
	border-left: 2px #BBB solid;
}
.level-2{
	top: 65px;
	width: 480px !important;
	left: 250px;
	z-index: 20;
}
.level-2 li{
	width: 50% !important;
}
.level-3{
	top: 0;
	width: 240px;
	left: 237px;
	z-index: 10;
}
.level-3 li{
	width: 100% !important;
	left: -100%;
}
.level-2.active,.level-3.active{
	visibility: visible;
}
.level-1{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 0px;
	color: #333;
	top: 8px;
	padding: 0px;
	left: 30;
	z-index: 999;
	background: #CCC;
	-webkit-transition:all ease-in 0.3s;
	-moz-transition:all ease-in 0.3s;
	-ms-transition:all ease-in 0.3s;
	-o-transition:all ease-in 0.3s;
	transition:all ease-in 0.3s;
}
.level-1.active{
	height: 300px;
	padding: 65px 0 0 0;
	visibility: visible;
}
.level-1 a{
	color: #333;
}
ul.menu-contain li a:hover, ul.menu-contain li.active a:hover{
	background: rgba(0,0,0,0.2);
}
ul.menu-contain li.active a{
	background: rgba(0,0,0,0.1);
	outline: none;
}
#header1 .variant{
	width: 50%;
	margin-left: -30px;
	position: absolute;
	height: 50px;
	z-index: 15;
	background: #2980b9;
	-webkit-transition:all ease-in 0.3s;
	-moz-transition:all ease-in 0.3s;
	-ms-transition:all ease-in 0.3s;
	-o-transition:all ease-in 0.3s;
	transition:all ease-in 0.3s;
}
#header1.active .variant{
	width: 100%;
	margin-left: 0;
}
#header1 .variant:after{
	content: "";
	position: absolute;
	border:solid 25px transparent;
	border-left-color: #2980b9;
	border-top-color: #2980b9;
	left:100%;
	/*margin-top: 60px;*/
}
#header2 .variant{
	width: 67%;
	margin-right: -30px;
	position: absolute;
	right: 0;
	height: 50px;
	background: #2980b9;
}
#header2 .variant:after{
	content: "";
	position: absolute;
	border:solid 25px transparent;
	border-right-color: #2980b9;
	border-bottom-color: #2980b9;
	right:100%;
	/*margin-top: 60px;*/
}
.menu2{
	display: none !important;
}
#header1.active .menu2{
	display: block !important;
}
/*search*/

#search{
	position: relative;
	float: right;
	margin-top: 3px;
	width: auto;
	padding: 20px 10px;
	background: #fff;
	border: 1px transparent solid;
	border-right: 1px #aaa solid;
	text-align: center;
}
.left{
	float: left;
}
#search.active{
	border: 1px #aaa solid;
}
#search input[type="text"]{
	border-radius: 0;
	width: 210px;
	padding: 0 5px;
	float: left;
	outline: none;
	border: none;
	border-right: 1px #aaa solid;
}
#search button{
	float: right;
	width: 30px;
	text-align: center;
	padding: 0;
	outline: none;
	border: none;
	columns: #aaa;
	margin:2px 0 0 0;
	background: none;
}

/*slide*/

.slider-wrapper{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	overflow: hidden;
	padding: 0 !important;
}
#space-header{
	position: relative;
	width: 100%;
	height: 10px;
}

/*Articles*/
#articles{
	position: static;
	margin-top: 20px;
}
#articles h1{
	text-align: center;
	font-size: 40px;
	margin: 25px auto;
}
#articles h2{
	font-size: 30px;
}
#articles .con-img{
	width: 45%;
	margin-right: 5%;
	float: left;
	overflow: hidden;
	height: 300px;
}
#articles .con-img img{
	width: 100%;
	height: auto;
}
#articles p{
	font-size: 16px;
	text-align: justify;
}

/*Services*/
#services{
	padding: 70px 0 50px 0;
	text-align: center;
}
#services h1{
	margin: 20px auto;
}
#services .item{
}
#services .item h1{
	font-size: 50px;
	width: 100px;
	height: 100px;
	padding-top: 20px;
	text-align: center;
	margin: auto;
	border-radius: 50%;
	color: #fff;
	background: #2980b9;
	margin-bottom: 20px;
}
/*Blogs*/
#blogs{
	width: 100%;
	background: #333;
	height: 400px;
	color: #eee;
	background: url('../images/slide3.jpg') no-repeat center;
	background-size: 120% auto;
}
#blogs .background{
	width: 100%;
	height: 400px;
	position: absolute;
	z-index: 0;
	background: rgba(0,0,0,0.5); 
}
#blogs .content{
	z-index: 10;
	position: relative;
}
#blogs h1{
	text-align: center;
	padding: 20px 0;
}
#blogs .blogs{
	position: relative;
	width: 100%;
	height: 250px;
	overflow: hidden !important;
}
#blogs .blog-contain{
	width: 200%;
	-webkit-transition:all ease-in-out 0.5s;
	-moz-transition:all ease-in-out 0.5s;
	-ms-transition:all ease-in-out 0.5s;
	-o-transition:all ease-in-out 0.5s;
	transition:all ease-in-out 0.5s;
}
#blogs .con-img{
	width: 11.5%;
	height: 250px;
	margin: 10px 0.5%;
	float: left;
	overflow: hidden;
	-webkit-transition:all ease-in-out 0.5s;
	-moz-transition:all ease-in-out 0.5s;
	-ms-transition:all ease-in-out 0.5s;
	-o-transition:all ease-in-out 0.5s;
	transition:all ease-in-out 0.5s;
}
#blogs .con-img:hover{
	opacity: 0.8;
	/*width: 15%;*/
}
#blogs .con-img img{
	height: 100%;
	width: auto;
}
#blogs .controlNav{
	position: absolute;
	font-size: 30px;
	color: #fff;
	top: 50%;
}
#blogs .prev{
	left: -40px;
}
#blogs .next{
	right: -40px;
}

/*Affiliation*/
#affiliation{
	width: 100%;
	height: 485px;
	/*background: #333;*/
	/*color: #eee;*/
}
#affiliation h1,#research h1{
	text-align: center;
	padding: 20px 0;
}
#affiliation p{
	font-size: 18px;
}
#affiliation img{
	width: 100%;
}
#affiliation .img1,#affiliation .img2{
	position: absolute;
	width: 100%;
	float: left;
	visibility: visible;
}
#affiliation .img2{
	opacity: 1;
	-webkit-transition:all ease-in 0.3s;
	-moz-transition:all ease-in 0.3s;
	-ms-transition:all ease-in 0.3s;
	-o-transition:all ease-in 0.3s;
	transition:all ease-in 0.3s;
}
#affiliation .con-img:hover .img2{
	opacity: 0;
}
#affiliation .affiliation{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#affiliation .affiliation-content{
	width: 400%;
	-webkit-transition:all ease-in-out 0.5s;
	-moz-transition:all ease-in-out 0.5s;
	-ms-transition:all ease-in-out 0.5s;
	-o-transition:all ease-in-out 0.5s;
	transition:all ease-in-out 0.5s;
}
#affiliation .item{
	width: 25%;
	height: 400px;
	float: left;
}
#affiliation .control{
	position: relative;
	float: right;
	margin-top: -50px;
}
#affiliation .controlNav{
	font-size: 30px;
	color: #000;
}

/*reasearch*/
#research{
	width: 100%;
	background: #333;
	color: #eee;
}
#research canvas{
	background-color: #333;
	position: relative;
}
#research .text{
	height: 100%;
	width: 50%;
	font-size: 16px;
	position: relative;
	padding: 0 20px;
}
#research .text.pull-right{
	text-align: left;
}
#research .text.pull-left{
	text-align: right;
}

#contact{
	width: 100%;
	height: auto;
	bottom: 0;
	color: #eee;
	background: url('../images/slide2.jpg') center no-repeat fixed;
	background-size: 100%  auto;
}
#contact .btn{
	margin: 10px 0;
}
#contact a{
	color: #eee;
	padding: 5px;
}
#contact ul{
	padding: 0 0 0 5px;
}
#contact li{
	padding: 5px;
	list-style: none;
}
#contact .form-control{
	border-radius: 0;
}
#contact .background{
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
	background: rgba(0,0,0,0.8); 
}
#contact .foot{
	position: relative;
	margin-top: 5px;
	width: 100%;
	padding: 10px 0;
	background: rgba(0,0,0,0.8);
}
.mob{
	display: none;
}

@media screen and (max-width: 1000px){
	.mob{
		display: block;
	}
	#menu-mob{
		font-size: 28px;
		color: #333;
		margin-right: 20px;
	}
	.wrapper{
		width: 95%;
	}
	#header2{
		display: none;
		visibility: hidden;
	}
	.menu2{
		display: block;
	}
	#branding{
		border-bottom: #2980b9 solid 3px;
	}
	#header1{
		width: 260px;
		position: fixed;
		height: 100%;
		padding: 0;
		left: -260px;
		-webkit-transition:all ease-in-out 0.5s;
		-moz-transition:all ease-in-out 0.5s;
		-ms-transition:all ease-in-out 0.5s;
		-o-transition:all ease-in-out 0.5s;
		transition:all ease-in-out 0.5s;
		background-color: #2980b9;
	}
	#header1.active{
		left: 0;
	}
	#header1 .wrapper{
		width: 100% !important;
	}
	#header1 .variant{
		display: none;
	}
	.level-2,.level3{
		width: 300px !important;
		margin-left: 150px;
		top:0;
	}
	.level-3{
		margin-left: -90px;
	}
	.level-1{
		overflow-x: auto;
		/*height: 100% !important;*/
		padding-top: 10px !important;
		padding-left: 250px !important;
	}
	.level-1 li{
		width: 150px;
	}
	ul.menu-contain li{
		display: block;
		width: 100%;
		text-align: left;
		padding: 0;
	}
	ul.menu-contain li a{
		width: 100% !important;
		padding:10px;
		margin: 0;
		display: block;
	}
	#affiliation{
		height:600px;
	}
	#affiliation .item{
		height: 500px;
	}
	#affiliation .con-img img{
		height: 200px;
		width: auto;
		margin: auto;
	}
	#affiliation .con-img{
		height: 200px;
		width: 100px;
		margin: auto;
	}
	#contact ul li{
		display: inline;
	}
	#contact .foot{
		bottom: 0;
		position: absolute;
	}
	#contact .pull-right{
		width: 100% !important;
		margin-bottom: 50px;
	}
	#contact{
		height: auto !important;
		padding-bottom: 50px;
	}
	#contact .background{
		height: auto;
	}
}
.user{
	margin: 100px 0;
	text-align: center;
}
.user h2{

}
.box{
	background: #fff;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.6) 0px 0px 10px;
	padding: 20px; 
}
.btn-col{
	width: 30%;
	display: inline-block;
	margin: 5px auto;
}


/*Tab*/

* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  min-height: 300px;
  display: none;
  text-align: left;
}
.tabcontent table td{
	padding: 3px;
}
#Riwayat a{
	display: block;
	width: 100%;
	height: auto;
	padding: 20px 0;
	margin: 5px 0;
	text-align: center;
	padding-bottom: 0;
	color: #fff;
}
#Riwayat a:hover{
	color: #333;
}
#Riwayat a:hover .ket{
	color: #fff;
}
.ket{
	margin-top: 10px;
	position: relative;
	text-align: center;
	bottom: 0;
}
.bg-success{
	background-color: #5cb85c;
}
.bg-primary{
	background-color: #337ab7;
}
.bg-danger{
	background-color: #d9534f;
}
